/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS
  - SPECIFIC PAGES
    - Page Name
---------------------------
Website Fonts: List fonts here for reference
Website Colours: List colour hex codes here for reference
----------------------------
*/

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid rgb(200,200,200); */

}

[class*=col-], [class*=col_], [class~=col]{
  padding-bottom:0;
  padding:0;
}

[class*=grid-], [class*=grid_], [class~=grid] {
  margin:0;
}

/* section {
  padding: 5%;
} */

img {
  max-width: 100%; /* This ensures an image never breaks it's container */
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.padded-1 { padding: 1%; }
.padded-3 { padding: 3%; }
.padded-5 { padding: 5%; }
.padded-10 {padding: 10%; }

.padded-top-1 { padding-top: 1%;}

.mob-show { display: none;}

.bg-img {
  background-color: grey;
  background-size: cover;
  background-position: center;
}

/* ----- UNIVERSAL STYLES --------------------------- */

a {
  font-family: 'Cormorant Garamond';
  color: black;
  text-decoration:none;
}

 h2, h3, h4 {
  /* text-transform: capitalize; */
  color: black;
  font-weight: 700;
  margin-bottom: 0.5em;
}

/* HEADER STUFF */

header{
  padding-top:5px;
  justify-content:space-around;
}

.hr-line{
  padding-left:5%;
}

.home-menu{
  width:100%;
  padding-left: 16%;
  font-size: 15px;
}

.menu-button:hover{
  color:grey;
}

.header-img{
  padding-left:7vw;
}

.title-img {
  background-image:url("/NashJoImages/fernando-prado-460051-unsplash.jpg");
  background-position:center;
  background-size:cover;
  width: 100%;
  min-height: 87vh;
}

hr {
  padding:2.5px;
  padding-right:0;
  background-color:black;
  text-align:right;
  width:100%;
  border:0;
}

h1{
  font-family: 'Pattaya', sans-serif;
  font-size:5rem;
  line-height:1;
  padding:3rem;
}

/* FEATURES */
.blog-loop-background{
  min-height: 29vw;
    background-size: cover;
    background-position: center;
    position:relative;
}

.post-preview{
  padding:25px;
}

.overlay{
  position:absolute;
  height:100%;
  width:100%;
  padding: 20%;
  text-align: center;
  opacity: 0;
  background-color: rgba(250,250,250,0.7);
  color:black;
  top:0;

}

.overlay:hover{
  opacity:1;
  transition: all 0.5s;
}
/* BACKGROUND FIXED - parallax - */
.parallax{
  background-image: url("/NashJoImages/Josh-Wilburne-unsplash.png");

  /* Set a specific height */
  min-height: 50vh;
  max-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top left;
  background-size:cover;
  padding-bottom:40%;
}

.parallax section{
  height: 30vh;
}


/* footer section */
.form{
  padding: 6%;
  margin: auto;
}

.form h3{
  font-size:25px;
}

form{
  display:block;
  margin: auto;
}

.contact-button:hover{
  background-color:#00664e;
}

input{
  width:70%;
  height:1.2rem;
}

.contact-button{
  background-color:#00cc9c;
  height:1.2rem;
  width:5rem;
  text-align:center;
}

footer{
  text-align:center;
  background-color:grey;
  padding:2rem;
}

.social-media:hover{
  color:grey;
}

/* blog post page */
/* Universal blog post style */
[class*blog-layout]{
  font-family: 'Cormorant Garamond';
}
/* blog post 2 grid formatting */

.blog-layout2 h4, .blog-layout3 h4 {
  text-decoration: underline;
}

#article-img{
        float: left;
        shape-outside: attr(src url);
        shape-image-threshold: 0.1;
    padding: 1rem;
}

.recipe-div{
  padding:10px;
  padding-left:2rem;
  position:relative;
  background-color:#FFD9D9;
}

/* IS THERE AN EASIER WAY OF HAVING THIS STICK TO THE BOTTOM? GOOGLE */
.recipe-box1, .recipe-box2{
  padding-top:6rem;
}

.recipe-box{
  padding-left:2rem;
}

.blog-post{
  padding: 10px 40px;
}
.ingredients{
  padding-bottom:10px;
}


/* BLOGPOST LAYOUT 3  */
.recipe-box2{
  background-color:#bd723e;
  padding:10px;
  padding-left:2rem;
}


.blog-post2 {
  padding: 10px 20px;
}

/* ABOUT PAGE */
      /* about div section */
.about-me, .contribute {
  padding:2rem;
}
.push-right {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: -2rem;
  z-index:1;
  background-color:#cc6f6f;
  padding:2rem;
  border: 1px solid rgb(60,60,60);
}

.bg-image{
  background-image:url("/NashJoImages/tashaimg.png");
  padding:21%;
  background-position:center;
  background-size:cover;
}
            /* contribute div section */
.bg-image2{
  background-image:url("/NashJoImages/stefania-crudeli-1128093-unsplash.jpg");
  padding:21%;
  background-position:center;
  background-size:cover;
}


.push-left{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: -2rem;
  margin-right: 2rem;
  z-index:1;
  padding:2rem;
  border: 1px solid rgb(60,60,60);
  background-color:#ebe2ca
}

.contact-form{
  margin:auto;
  width: 100%;
}

.contribute h2, .contribute h4 {
  margin: auto;
  text-align:center;
}

.contribute h2{
  font-size:27px;
}

.contact-button{
  background-color:#81cab8;
  border:none;
  color:white;
  height: 1.2rem;
}

.contact-button:hover{
  background-color:#65ab9a;
  color: black;
}

.contact-form input{
  width:80%;
  padding: 2%;
  margin: 2% 0;
  border: 1px solid black;
  font-size: 15px;
  text-align: left;
  box-sizing: content-box;
}

textarea{
  width:85%;
  resize:none;
  padding-bottom: 5rem;
}

/* MEdia Queries */

  .mobile-menu{
    display:none;
  }

@media (max-width: 768px){
    /* author image layout 3 */
    .author-img2{
      display:in-line block;
    }
    .author-bg-img2{
      padding:6%;
    }
    .recipe-box2, .recipe-box1{
      text-align:right;
      padding: 3%;
    }

    .blog-post{
      order:-1;
    }


  /* burger menu responsiveness */
  .mobile-menu{
    display:block;
  }
  .home-menu{
  display:none;
  }


  .burger-button {
  position:fixed;
  top: 2vh;
  right: 2vh;
  z-index: 9;
  padding: 8px;
}
/*this is where you can change the color of the buttons*/
.burger-button span{
  width: 30px;
  border: 2px solid black;
  background-color: black;
  display: block;
  border-radius: 22px;
  transition: 1s;
}
.burger-button.active span{
  border-color: grey;
  background-color:black;
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: -02px;
}

.burger-bottom{
  bottom: -02px;
}
/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{
/*   transform: rotateZ(270deg); */
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}


.burger-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color:white;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 8;
    padding-top:50px;
}

.burger-menu a {
  text-decoration: none;
  padding: 15px 11px;
  font-size: 20px;
  font-weight: 300;
  color: #7a7876;
  font-family: 'Alegreya Sans SC', sans-serif;
  display:block;
  padding:5px 7px;
  text-align:right;
  white-space:nowrap;
}

.burger-menu li{list-style:none}

}
