/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS
  - SPECIFIC PAGES
    - Page Name
---------------------------
Website Fonts: List fonts here for reference
Website Colours: List colour hex codes here for reference
----------------------------
*/

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid rgb(200,200,200); */

}

[class*=col-], [class*=col_], [class~=col]{
  padding-bottom:0;
  padding:0;
}

[class*=grid-], [class*=grid_], [class~=grid] {
  margin:0;
}

/* section {
  padding: 5%;
} */

img {
  max-width: 100%; /* This ensures an image never breaks it's container */
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.padded-1 { padding: 1%; }
.padded-3 { padding: 3%; }
.padded-5 { padding: 5%; }
.padded-10 {padding: 10%; }

.padded-top-1 { padding-top: 1%;}

.mob-show { display: none;}

.bg-img {
  background-color: grey;
  background-size: cover;
  background-position: center;
}

/* ----- UNIVERSAL STYLES --------------------------- */

a {
  font-family: 'Cormorant Garamond';
  color: black;
  text-decoration:none;
}

 h2, h3, h4 {
  /* text-transform: capitalize; */
  color: black;
  font-weight: 700;
  margin-bottom: 0.5em;
}

/* HEADER STUFF */

header{
  padding-top:5px;
  justify-content:space-around;
  padding-left: 5rem;
}

.home-menu{
  width:100%;
  padding-left: 5.7rem;
  font-size: 15px;
}

.menu-button:hover{
  color:grey;
}

.header-img{
  padding-left:7vw;
}

.title-img {
  background-image:url("/Nashjoimages/fernando-prado-460051-unsplash.jpg");
  background-position:center;
  background-size:cover;
  width: 100%;
  min-height: 87vh;

}
hr{
  padding:2.5px;
  padding-right:0;
  background-color:black;
  text-align:right;
  width:100%;
  border:0;
}

h1{
  font-family: 'Pattaya', sans-serif;
  font-size:5rem;
  line-height:1;
  padding:3rem;
}

/* FEATURES */
.blog-loop-background{
  min-height: 29vw;
    background-size: cover;
    background-position: center;
    position:relative;
}

.post-preview{
  padding:25px;
}

.overlay{
  position:absolute;
  height:100%;
  width:100%;
  padding: 20%;
  text-align: center;
  opacity: 0;
  background-color: rgba(250,250,250,0.7);
  color:black;
  top:0;

}

.overlay:hover{
  opacity:1;
  transition: all 0.5s;
}
/* BACKGROUND FIXED - parallax - */
.parallax{
  background-image: url("/nashjoimages/Josh-Wilburne-unsplash.png");

  /* Set a specific height */
  min-height: 50vh;
  max-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top left;
  background-size:cover;
  padding-bottom:40%;
}

.parallax section{
  height: 30vh;
}


/* footer section */
.form{
  padding: 6%;
  margin: auto;
  width: 34rem;
}

.form h3{
  font-size:25px;
}

form{
  display:block;
  margin: auto;
}

.contact-button:hover{
  background-color:#00664e;
}

input{
  width:70%;
  height:1.2rem;
}

.contact-button{
  background-color:#00cc9c;
  height:1.2rem;
  width:5rem;
}

footer{
  text-align:center;
  background-color:grey;
  padding:2rem;
}

.social-media:hover{
  color:grey;
}

/* blog post page */
