---
layout: default
---

<!-- - - - -  BLOG POST SECTION  - - -   -->
<section class="grid">
<div class="col-5 blog-post2">
  <h5> {{page.author}} </h5>
  <h4> {{page.recipe}} </h4>
</div>
<div class="col-4"
  {{content}}
</div>

<div class="col-3 author-img2">
  {% for item in page.author_image %}
  <img src="{{item}}" />
  <br>
  {% endfor %}
</div>

<div class="col-4 recipe-box2">
  <h3> Empanadas Porteñas </h3>
    <div class="ingredients">
      <h4> Ingredients </h4> <br>
       {{page.ingredients_html}}
  </div>
</div>
</section>
